.Rodo{
    width:1080px;
    margin: 10px auto;
    ul{
        li{
            a{
                text-decoration: none;
                color: rgb(61, 164, 232);
                &:hover{
                    transition: 0.1s;
                    color: rgb(255, 190, 69);
                    .Arch_doc{
                        transition: 0.1s;
                        color: rgb(255, 57, 30);
                    }
                    .Curr_doc{
                    color: rgb(0, 144, 70);
                    font-weight: 600;
                }
                }
                .Arch_doc{
                    color:rgb(150, 18, 1);
                    font-weight: 600;
                }
                .Curr_doc{
                    color: rgb(101, 186, 10);
                    font-weight: 600;
                }
            }
        }
    }
}

@media only screen and (max-width:1080px){
    .Rodo{
        width:90%;
    }
}