.Speakers{
    margin: 20px auto;
    width:1350px;
    .Speakers-Top{
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .Speakers-Container{
        width:1180px;
        margin: 10px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}