.Speakers{
    margin: 20px auto;
    width:1350px;
    .Speakers-Top{
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .Speakers-Top-Container{
            width:100%;
            h5,h2,h4{
                margin: 0;
                padding: 0;
            }
            h5{
                color:#594c5c;
                font-size: 16px;
                font-weight: 600;
            }
            h2{
                padding: 10px;
                padding-left: 0;
                text-transform: uppercase;
                font-size: 24px;
                font-weight: 600;
                color:rgb(0, 24, 56);
            }
            h4{
                text-align: justify;
                font-weight: 500;
            }
        }
    }
    .Speakers-Container{
        width:1180px;
        margin: 10px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}