.Navigation{
    position: relative;
    width:100%;
    height:200px;
    .Navigation-Content{
        display: flex;
        flex-direction: column;
        margin: 30px auto;
        max-width: 1240px;
        height:calc(100% - 30px);
        .Navigation-Content-Top, .Navigation-Content-Bottom{
            width:100%;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .Navigation-Content-Top{
            justify-content: space-between;
            text-align: justify;
            .Navigation-Content-Logo-Up{
                display: flex;
                flex-direction: row;
                align-items: center;
                img{
                    height: 55px;
                    width:auto;
                    padding-right: 10px;
                    border-right: 2px dotted rgb(48, 48, 48);
                }
                h3{
                    margin: 0;
                    padding-left: 10px;
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 20px;
                }
            }
            .Navigation-Content-Logo-Bottom{
                display: flex;
                flex-direction: column;
                margin-left: 58px;
                margin-top: 2px;
                h4{
                    margin: 0;
                    padding: 0;
                    font-size: 16px;
                    line-height: 16px;
                    font-weight: 400;
                }
                h5{
                    margin: 0;
                    padding: 0;
                    font-size: 12.5px;
                    font-weight: 300;
                }
            }
            .Navigation-Content-SocialMedia{
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }
        .Navigation-Content-Bottom{
            margin-top: 50px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
}