.Fotter{
    position: relative;
    bottom:0px;
    width:100%;
    left:0px;
    height:fit-content;
    background-color:#00183809;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.233);
    overflow: hidden;
    .Footer-Container{
        position: relative;
        width:1350px;
        margin: 0 auto;
        height:150px;
        .BG-IMG{
            position: absolute;
            height:350px;
            left:0px;
            bottom: 0px;
            opacity: 0.15;
            transform: scaleX(-1);
        }
        .Footer-Content{
            width:960px;
            height: 100%;
            display: flex;
            flex-direction: row;
            float: right;
            .Footer-Links{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                padding-top: 10px;
                align-items: flex-start;
                width:150px;
                height: 100%;
                h2{
                    margin: 0;
                    padding: 0;
                    font-size: 20px;
                    font-weight: 600;
                }
                a{
                    margin: 0;
                    padding: 0;
                    text-decoration: none;
                    color:rgb(28, 73, 110);
                    font-size: 16px;
                    font-weight: 500;
                    &:hover{
                        cursor: pointer;
                        color:rgb(16, 43, 65);
                        transform: scale(1.03);
                    }
                }
            }
            .Footer-Copyright{
                align-items: center;
                justify-content: center;
                width:200px;
                img{
                    height:100px;
                    margin-top: -15px;
                }
                p{
                    margin: 0;
                    padding: 0;
                    font-size: 14px;
                    font-weight: 300;
                }
            }
        }
    }
}

@media only screen and (max-width:1440px) {
    .Fotter{
        .Footer-Container{
            width: 90%;
            .Footer-Content{
                width: 100%;
                justify-content: center;
                .Footer-Links{
                    display: none;
                }
                .Footer-Copyright{
                    display:flex;
                }
            }
        }
    }
}