$base-1: #EFBD5E;
$base-2: #343961;
$base-3: #F03A47; 

.edCard{
    width:380px;
    height: 240px;
    border-radius: 2px;
    transition: 1s;
    position: relative;
    .edCard_Main{
        position: relative;
        width: 100%;
        height: 240px;
        background-color: #000;
        overflow: hidden;
        box-shadow: 0px 2px 4px black;
        .fade{
            opacity: 0 !important;;
        }
        .edCard_Image{
            position: absolute;
            width:100%;
            height: 240px;
            object-fit: cover;
            opacity: 0.99;
            transition: 0.9s;
            filter: contrast(115%) saturate(130%);
        }
        .edCard_Main_text{
            position: absolute;
            bottom: -40px;
            margin: 0;
            padding-left: 20px;
            padding-bottom: 10px;
            height: 100px;
            color: white;
            width: 100%;
            background: radial-gradient(
                farthest-corner at -10px 80px,
                #000 0%,
                #00000000 70%
              ), linear-gradient(transparent 55%, #000 150%);
            transition: 1s;
            h2{
                margin: 0;
                margin-top: 25px;
                padding: 0;
            }
        }
        transition: 1s;
        &:hover, &:active{
            .edCard_Image{
                opacity: 1;
                animation: card_hover_scale 0.6s ease alternate, card_hover_move 1s ease 0.6s alternate;
                transform: scale(1.4) translateX(12%);
            }
            .edCard_Main_text{
                transition: 0.6s 0.9s;
                bottom: 0px;
            }
        }
    }

    .edCard_hidden{
        height: 0px;
        box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.5);
        transition: 1s;
    }
}

.edCard_act{
    .edCard_Main{
        background-color: #000;
        .edCard_Image{
            opacity: 1;
        }
        .edCard_Main_text{
            bottom: -40px !important;
            transition: 0.5s !important;
        }
    }
}

@keyframes card_hover_scale{
    0%{
        transform: scale(1) translateX(0);
    }
    100%{
        transform: scale(1.4) translateX(0);
    }
}

@keyframes card_hover_move {
    0%{
        transform: scale(1.4) translateX(0);
    }
    100%{
        transform: scale(1.4) translateX(12%);
    }
}

@media only screen and (max-width:1020px){
    .edCard{
        width: 320px;
        height: 180px;
        .edCard_Main{
            height: 180px;
            .edCard_Image{
                height: 180px;
            }
            .edCard_Main_text{
                bottom: -50px;
                h2{
                    font-size: 18px;
                }
                h3{
                    font-size: 14px;
                }
            }
        }
    }
}

@media only screen and (max-width:900px){
    .edCard{
        margin-top: 30px;
        width: 360px;
        height: 190px;
        .edCard_Main{
            height: 190px;
            .edCard_Image{
                height: 190px;
            }
            .edCard_Main_text{
                bottom: -50px;
                h2{
                    font-size: 18px;
                }
                h3{
                    font-size: 14px;
                }
            }
        }
    }
}

@media only screen and (max-width:700px){
    .edCard{
        width: 320px;
        height: 190px;
        margin-top: 30px;
        .edCard_Main{
            height: 190px;
            .edCard_Image{
                height: 190px;
            }
            .edCard_Main_text{
                bottom: -50px;
                h2{
                    font-size: 18px;
                }
                h3{
                    font-size: 14px;
                }
            }
        }
    }
}