.HomeData{
    position: relative;
    height:400px;
    padding-top: 30px;
    &::after{
        content: '';
        position: absolute;
        z-index: -1;
        top:0;
        left:-5%;
        width:150%;
        height:100%;
        transform: rotate(1.5deg);
        background-color:#0018380e;
    }
    .HomeData-Register{
        width:1440px;
        margin: 0px auto;
        height:auto;
        h1{
            width:100%;
            text-align: center;
            margin: 0;
            padding: 0;
            font-weight: 400;
            text-transform: uppercase;
            color:#544557;
        }
        .HomeData-Register-Fast{
            width:960px;
            margin: 30px auto;
            height:300px;
            border-radius: 2px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            .HomeData-Register-Fast-d{
                width:240px;
                height:90%;
                padding: 4px;
                position: relative;
                overflow: hidden;
                .Band{
                    position: absolute;
                    top:50px;
                    right:-150px;
                    width:300px;
                    height:20px;
                    background-color: black;
                    transform: rotate(55deg);
                    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.795);
                    transition: 0.3s;
                    display: flex;
                    align-items: center;
                    justify-content: right;
                    border-radius: 3px;
                    p{
                        color: #fff;
                        text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.452);
                        font-size: 20px;
                        font-weight: 700;
                        margin-left: 20px;
                        transition: 0.3s;
                    }
                }

                .Band-Blue{
                    background-color: #589073;
                    
                }
                .Band-Green{
                    background-color: #3c4b90;
                }
                .Band-Red{
                    background-color: #517693;
                }
                &:hover{
                    .Band{
                        right:-140px;
                        height: 30px;
                        p{
                            margin-right: 160px;
                        }
                    }
                }
                .Data{
                    width:100%;
                    height:100%;
                    margin: 0px auto;
                    background-color: rgb(252, 250, 248);
                    border-radius: 2px;
                    border-top-left-radius: 0px;
                    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.315);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    overflow: hidden;
                    h2,h4,h3{
                        margin: 0;
                        padding: 0;
                        width:100%;
                        text-align: center;
                    }
                    h2{
                        width: 72%;
                        text-align: left;
                        margin-top: 10px;
                        font-size: 24px;
                        color:rgb(0, 24, 56);
                    }
                    h3{
                        width:72%;
                        text-align: left;
                        margin-top: 10px;
                        font-size: 14px;
                        line-height: 14px;
                        font-weight: 400;
                    }
                    h4{
                        position: absolute;
                        bottom: 55px;
                        font-size: 18px;
                        font-weight: 500;
                        color:#594c5ca9;
                    }
                    ul{
                        margin-left: 10px;
                        padding: 0;
                        margin-top: 10px;
                    }
                    button{
                        background-color: #EE7674;
                        position: absolute;
                        bottom: 20px;
                        left:50%;
                        width:80%;
                        text-align: center;
                        font-size: 20px;
                        color:#FFFFFF;
                        outline: none;
                        border: none;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        font-weight: 600;
                        cursor: pointer;
                        box-shadow: 0px 0px 4px #972c2a;
                        transform: translateX(-50%);
                        transition: 0.2s;
                        &:hover{
                            background-color: #f36461;
                            transform: scale(1.02);
                        }
                    }
                    &:hover{
                        button{
                            transform: translateY(0%) translateX(-50%);
                        }
                    }
                    ul{
                        li{
                            font-size: 18px;
                            font-weight: 400;
                            list-style: none;
                        }
                    }
                }
            }
        }
    }
}

.Up{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .Up-Icon{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #1FCAC5;
        border-radius: 50%;
        width:20px;
        height: 20px;
        svg{
            color:white;
            width:14px;
            height: 14px;
        }
    }

    .Up-Title{
        margin-left: 10px;
    }
}
