@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&family=Dosis:wght@200;300;400;500;600;700;800&family=Roboto+Condensed:wght@400;500;600;700;800&family=Source+Sans+3:wght@200;300;400;500;600;700;800&display=swap');

.Map{
    margin: 60px auto;
    width:1350px;
    .Map-Container{
        margin: 30px auto;
        width:1180px;
        height: 150px;
        padding-top: 10px;
        padding-bottom: 10px;
        position:relative;
        display: flex;
        flex-direction: row;
        .Map-Data{
            width:50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            span{
                display: inline-block;
                width: 100px;
                color:#1b2244;
                font-weight: 500;
            }
            a{
                color:rgb(28, 73, 110);
                text-decoration: none;
                cursor: pointer;
                &:hover{
                    color:rgb(16, 43, 65);
                    
                }
            }
            h3,h4{
                font-weight: 600;
            }
            h3,h4,p,a{
                margin: 0;
                padding: 0;
                text-align: left;
                width: 100%;
            }
            .Map-margin{
                margin-top: 10px;
            }
        }
        .Map-Map{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            .Map-Image{
                display: flex;
                flex-direction: column;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.288);
                border-radius: 2px;
                height: 100%;
                width: 100%;
                overflow: hidden;
                position: relative;
                padding: 5px;
                border: 5px solid #f6f6f8;
                box-sizing: border-box;
                a{
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    width: 100%;
                    bottom: 0px;
                    left: 0px;
                    background-color: #f6f6f8;
                    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.26);
                    text-decoration: none;
                    color:black;
                    img{
                        width:30px;
                        height: 30px;
                        margin-left: 10px;
                        margin-right: 10px;
                        transition: 0.2s;
                    }
                    transition: 0.2s;
                    &:hover{
                        img{
                            transform: rotate(10deg);
                        }
                        background-color: #ebebf5;
                    }
                }
                h4,h5,h6{
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    font-weight: 400;
                    font-family: 'Caveat', cursive;
                    // font-family: 'Dosis', sans-serif;
                    // font-family: 'Roboto Condensed', sans-serif;
                    // font-family: 'Source Sans 3', sans-serif;
                }
                h4{
                    font-size: 22px;
                    font-weight: 600;
                }
                h5{
                    font-size: 20px;
                }
                h6{
                    margin-top: 16px;
                    font-size: 18px;
                }
                .Map-IMG{
                    position: absolute;
                    right:10px;
                    top:5px;
                    width:60%;
                    filter: invert(100%);
                    transform: rotate(9deg);
                    opacity: 0.4;
                }
            }
        }
    }
}

@media only screen and (max-width:1440px) {
    .Map{
        width: 1140px;
        .Map-Container{
            width: 1140px;
        }
    }
}

@media only screen and (max-width:1180px) {
    .Map{
        width:90%;
        .Map-Container{
            width:960px;
            justify-content: center;
            .Map-Data{
                width:40%
            }
        }
    }
}

@media only screen and (max-width:1080px) {
    .Map{
        width:90%;
        .Map-Container{
            width:960px;
            justify-content: center;
            .Map-Data{
                width:40%
            }
        }
    }
}

@media only screen and (max-width:1030px) {
    .Map{
        width:90%;
        .Map-Container{
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: fit-content;
            padding: 0;
            margin: 10px auto;
            .Map-Data{
                width:500px;
                
            }
            .Map-Map{
                width: 500px;
                height: 150px;
                margin-top: 20px;
            }
        }
    }
}

@media only screen and (max-width:580px) {
    .Map{
        width:90%;
        .Map-Container{
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: fit-content;
            padding: 0;
            margin: 10px auto;
            .Map-Data{
                width:350px;
                h3{
                    font-size: 18px;
                }
                h4{
                    font-size: 16px;
                }
                p{
                    font-size: 14px;
                }
            }
            .Map-Map{
                width: 350px;
                height: 110px;
                margin-top: 20px;
                .Map-Image{
                    .Map-IMG{
                        opacity: 0.2;
                    }
                    h4,h5{
                        text-align: center;
                    }
                    a{
                        height: 30px;
                        font-size: 16px;
                        img{
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:410px) {
    .Map{
        .Map-Container{
            .Map-Data{
                width:fit-content;
                h3{
                    font-size: 14px;
                }
                h4{
                    font-size: 13px;
                }
                p{
                    font-size: 12px;
                }
            }
            .Map-Map{
                width: 250px;
                height: 65px;
                margin-top: 20px;
                .Map-Image{
                    .Map-IMG{
                        opacity: 0.3;
                        left:50%;
                        transform: translateX(-50%);
                        top: 0px;
                    }
                    h4,h5,h6{
                        display: none;
                    }
                    a{
                        height: 20px;
                        font-size: 13px;
                        img{
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }
        }
    }
}

