.Banner{
    position: relative;
    overflow: hidden;
    width:100vw;
    height:300px;
    background: linear-gradient(25deg, #0fb8aa 0%, #f6e331 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    box-shadow: 0px 0px 4px black;
    canvas{
        position: absolute;
        top:0px;
        left:0px;
        z-index: 0;
        background-color: rgba(0,0,0,0.25);
    }
    .Banner-Data{
        width:1420px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 4;
        .genomica{
            width:750px;
            height: 320px;
            margin-left: 380px;
            filter: drop-shadow(0px 0px 2px #0fb8aa);
            transition: 0.3s;
        }
        .jag{
            transition: 0.3s;
            width:400px;
            height:340px;
            transform: translateY(-7%);
            filter: drop-shadow(0px 0px 2px #0fb8aa);
        }
    }
}

.Big{
    .Banner-Data{
        .genomica{
            margin-left: 240px;
            width:1200px;
            height:450px;
            opacity: 0.8;
            filter: drop-shadow(0px 0px 2px #FFF);
        }
        .jag{
            opacity: 0;
        }
    }
}

@media only screen and (max-width:1540px){
    .Banner{
        .Banner-Data{
            .genomica{
                width:700px;
                height: 280px;
            }
            .jag{
                width:310px;
                height: 280px;
            }
        }
    }
    .Big{
        .Banner-Data{
            .genomica{
                margin-left: 240px;
                width:1200px;
                height:450px;
            }
        }
    }
}

@media only screen and (max-width:1350px){
    .Banner{
        .Banner-Data{
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0s;
            .genomica{
                width:700px;
                height: 280px;
                margin: 0;
                transition: 0s;
            }
            .jag{
                display: none;
            }
        }
    }
    .Big{
        .Banner-Data{
            display: flex;
            align-items: center;
            justify-content: center;
            .genomica{
                width:1200px;
                height:450px;
            }
        }
    }
}

@media only screen and (max-width:550px){
    .Banner{
        height: 200px !important;
        .Banner-Data{
            .genomica{
                width:500px;
                height: 220px;
                margin: 0;
                transition: 0s;
            }
        }
    }
}

@media only screen and (max-width:450px){
    .Banner{
        height: 150px !important;
        .Banner-Data{
            .genomica{
                width:350px;
                height: 150px;
                margin: 0;
                transition: 0s;
            }
        }
    }
}